<p>{{ name }}</p>
<ul>
  <li>Age: {{ age }}</li>
  <li>Email: {{ email }}</li>
  <li>Address: {{ address.street }}, {{ address.city }}</li>
</ul>

<button (click)="onClick()">Click Me</button>

<h1>Edit user</h1>
<form>
  <div>
    <label for="name">Name: </label><br />
    <input type="text" [(ngModel)]="name" name="name"/>
  </div>
  <div>
    <label for="age">Age: </label><br />
    <input type="number" [(ngModel)]="age" name="age"/>
  </div>
  <div>
    <label for="email">Email: </label><br />
    <input type="email" [(ngModel)]="email" name="email"/>
  </div>
  <div>
    <label for="street">Street: </label><br />
    <input type="text" [(ngModel)]="address.street" name="street"/>
  </div>
  <div>
    <label for="city">City: </label><br />
    <input type="text" [(ngModel)]="address.city" name="city"/>
  </div>

</form>

<h1>Hobbies</h1>
<form (submit)="addHobby(hobby.value)">
  <div>
    <label for="hobby">Hobby</label>
    <input type="text" #hobby />
  </div>
</form>
<ul>
  <li *ngFor="let item of hobbies; let i = index">
    {{ i + 1 }} {{ item }} <button (click)="deleteHobby(item)">X</button>
  </li>
</ul>
